.mt-0 {
margin-top: 0 !important;
}

.ml-1 {
margin-left: ($spacer * .25) !important;
}

.px-2 {
padding-left: ($spacer * .5) !important;
padding-right: ($spacer * .5) !important;
}

.p-3 {
padding: $spacer !important;
}

.bgcolor {
background-image: linear-gradient(teal, aqua);
}

.poop {
background-image: linear-gradient(aqua, teal);;
}

.poop2 {
background-image: linear-gradient(pink, aqua);
padding-left: 10px;
margin-top: 5 !important
}

h4 {
color: white;
}

h5 {
color: black;
}
